.productsMenu {
  position: relative;
  height: 100%;
  margin: 0 auto;
}

.productsMenuContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.productsMenuItem {
  flex: 1 1 auto;
  vertical-align: middle;
}

.mainCategory {
  position: relative;
  flex: 1 1 auto;
  vertical-align: middle;
}

.productMenuTitle {
  height: 100%;
  position: relative;
}

.productsMenuTitleLink {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  padding: 12px 15px 12px;
  border: 0;
  line-height: 1.15;
  color: #fff;
  font-weight: normal;
  text-align: center;
  font-size: 14px;
  transition: all 0.15s;
  flex-direction: column;
}

@media (min-width: 1440px) {
  .productsMenuTitleLink {
    font-size: 16px;
    padding-top: 11px;
    padding-bottom: 11px;
  }
}

@media (min-width: 1280px) {
  .productsMenuTitleLink {
    font-size: 15px;
    padding-top: 11px;
  }
}

.productsMenuItem.hover .productsMenuTitleLink {
  background-color: rgba(0, 0, 0, 0.5);
}

.productsSubMenu {
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  height: 0;
  position: absolute;
  z-index: 500;
  top: 100%;
  left: 0;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  transition: visibility 0s 0.05s, opacity 0.05s ease-in;
}

.productsSubMenu.open {
  visibility: visible;
  opacity: 1;
  height: auto;
  transition: opacity 0.15s ease-in;
}

.productsSubMenuList {
  padding: 20px 20px 0;
}

.productsSubMenu.subMenuGrid .productsSubMenuList {
  columns: 240px auto;
  column-gap: 20px;
}

.productsSubMenuItem {
  display: block;
  break-inside: avoid-column;
  padding-bottom: 20px;
}

.productsSubMenuItemLink {
  display: block;
  border: 0;
}

.productsSubMenuItemLink:hover {
  color: #545454;
}

.productsSubMenuItemTitle {
  font-size: 15px;
  font-weight: bold;
  display: block;
}

.subChildList {
  margin-top: 8px;
  font-size: 13px;
}

.subChildItem {
  margin-bottom: 8px;
}

.subChildItem a {
  display: block;
  overflow-wrap: break-word;
  border-bottom: none;
  line-height: 1.4;
}
.subChildItem a:hover {
  color: #545454;
}
