.searchResults {
  background: white;
  border-radius: 4px;
  max-height: 300px; /* Максимальна висота списку */
  overflow-y: auto; /* Прокрутка, якщо результатів багато */
}

.searchResultsList {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
}

.searchResultsList:hover {
  background-color: #f0f0f0;
}

.searchResults .imgBox {
  margin-right: 12px;
}

.imgBrand {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
