/* UserCabinet.module.css */
.wrapper {
  min-width: 960px;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .wrapper {
    padding: 0 30px;
  }
}

.layout {
  display: flex;
  margin-bottom: 40px;
  min-height: 200px;
}

.layoutMain {
  order: 1;
  flex-grow: 1;
  min-width: 0;
}

.layoutMainInner {
  padding-left: 20px;
}

.layoutAside {
  flex: 0 0 220px;
}
