.MenuHeader {
  display: none;
}

.catalogy {
  display: none;
}

@media screen and (min-width: 1440px) {
  .MenuHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .menuList {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    position: relative;
    color: #000;
  }

  .link {
    padding: 8px 8px;
    color: #000;
  }
  .link:hover {
    background-color: #f5f5f5;
  }

  .menuChevron {
    display: flex;
    align-items: center;
    gap: 7px;
    position: relative;
    cursor: pointer;
  }

  .catalogyBox {
    position: absolute;
    display: none;
    left: 0;
    top: 100%;
    width: 400px;
    background-color: #fff;
    border: 1px solid #ddd;
    list-style: none;
    padding: 20px;
    margin: 0;
    z-index: 1000;
    box-shadow: 0px 465px 186px rgba(153, 153, 153, 0.01),
      0px 261px 157px rgba(153, 153, 153, 0.05),
      0px 116px 116px rgba(153, 153, 153, 0.09),
      0px 29px 64px rgba(153, 153, 153, 0.1),
      0px 0px 0px rgba(153, 153, 153, 0.1);
    border-radius: 30px;
  }
  .menuList:hover .catalogyBox {
    display: block;
  }
}

.headerCont {
  display: flex;
  align-items: center;

  gap: 20px;
}

.basketBox {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.basketBox:hover .iconBasket {
  fill: gray;
}
.basketBox:hover .basketTitle {
  color: gray;
}

.allQuantity {
  transform: translateX(-50%);
  position: absolute;
  top: 7px;
  left: 3px;
  min-width: 7px;
  padding: 0 4px;
  height: 15px;
  line-height: 15px;
  border-radius: 15px;
  background: #dd6c7a;
  color: #fff;
  font-size: 10px;
  text-align: center;
}

.basketTitle {
  font-size: 17px;
}

.basketInfoPriceBox {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.menuContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icon {
  width: 20px;
  height: 20px;
  fill: #000;
}
.iconBasket {
  width: 34px;
  height: 34px;
}

.telephoneBox {
  display: flex;
  align-items: center;
}

.telSpan {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconTelephone {
  fill: #fff;
}
