.container {
  height: 50%;
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.boxUserInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.visuallyHidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.inputBox {
  width: 33%;
}

.inputForm {
  transition-duration: 300ms;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  height: 50px;
  padding: 13px;
  border: 1px solid #e8e8e8;
  background: #f9f9f9;
  margin-bottom: 15px;
}

/* .inputForm:hover {
  background-color: #fff;
} */
