.catalogContent {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.listItem {
  vertical-align: top;
  width: 25%;
}

@media screen and (min-width: 1280px) {
  .listItem {
    width: 25%;
  }
}

@media screen and (min-width: 1440px) {
  .listItem {
    width: 20%;
  }
}
