.catalogyMenu {
  display: none;
}

@media screen and (min-width: 1440px) {
  .headerColumn {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    max-width: 100%;
  }

  .headerColumn:not(:last-child) {
    padding-right: 10px;
  }

  .headerSection {
    flex: 0 1 auto;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    text-align: left;
  }

  .productsMenu {
    position: relative;
    height: 100%;
    margin: 0 auto;
  }

  .catalogyList {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .productsMenuItem {
    flex: 1 1 auto;
    vertical-align: middle;
  }

  .productsMenuTitle {
    height: 100%;
    position: relative;
  }

  .productsMenuTitleLink {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    padding: 12px 15px 12px;
    border: 0;
    line-height: 1.15;
    color: #fff;
    font-weight: normal;
    text-align: center;
    font-size: 14px;
    transition: all 0.15s;
    flex-direction: column;
  }

  .productsSubmenu {
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    height: 0;
    position: absolute;
    z-index: 500;
    top: 100%;
    left: 0;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    transition: visibility 0s 0.05s, opacity 0.05s ease-in;
  }

  .productsMenuItem:hover .productsSubmenu {
    visibility: visible;
    overflow: visible;
    opacity: 1;
    height: auto;
    transition: opacity 0.15s ease-in, height 0.15s ease-in;
  }

  .productsMenu.isActive .productsSubmenu {
    transition: visibility 0s, opacity 0s;
  }

  .productsSubmenu .productsSubmenuList {
    columns: 240px auto;
    column-gap: 20px;
  }

  .productsSubmenuItem {
    display: block;
    break-inside: avoid-column;
    padding-bottom: 20px;
  }

  .productsSubmenu .productsSubmenuItemLink {
    display: flex;
    align-items: center;
    min-height: 50px;
    color: #000;
  }

  .productsSubmenuItemLinkText {
    font-size: 15px;
    font-weight: bold;
    display: block;
  }

  .productsMenuList {
    margin-top: 8px;
    font-size: 13px;
    padding-left: 60px;
  }

  .productsMenuListItem {
    margin-bottom: 8px;
    color: #000;
  }

  .downMenuItem {
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .downMenuItem:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
  }

  .downMenuText {
    color: #000;
  }

  .downMenuText:hover {
    color: #7c7c7c;
  }

  .productsMenuItem:hover .dropDownMenu {
    position: absolute;
    top: 50px;
    width: 500px;
    margin: 0;
    z-index: 9999;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 465px 186px rgba(153, 153, 153, 0.01),
      0px 261px 157px rgba(153, 153, 153, 0.05),
      0px 116px 116px rgba(153, 153, 153, 0.09),
      0px 29px 64px rgba(153, 153, 153, 0.1),
      0px 0px 0px rgba(153, 153, 153, 0.1);
    border-radius: 10px;
  }

  .searchBox {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 30px;
    background: transparent;
    position: relative;
    width: 500px;
    transition: background-color 0.3s ease;
  }

  .searchBox:hover {
    background-color: #828282;
  }

  .searchBox:focus-within {
    background-color: #fff;
  }

  .inputSearch {
    border: none;
    background-color: transparent;
    width: 100%;
    line-height: 1;
  }
  .inputSearch::placeholder {
    color: #fff;
  }

  .iconSearch {
    position: absolute;
    left: 1%;
    fill: #fff;
    transition: fill 0.3s ease, left 0.3s ease;
  }
  .searchBox:focus-within .iconSearch {
    fill: #000;
    left: 100%;
    margin-left: -30px;
  }
  .icon {
    width: 20px;
    height: 20px;
    fill: #fff;
  }

  .catalogyMenu {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #363636;
    padding: 0 70px;
  }

  .iconBox {
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .userCabinet {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .enterText {
    display: inline-block;
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
  }
  .favoriteBox {
    position: relative;
  }

  .favoriteIcon {
  }

  .amountProductsFavorites {
    transform: translateX(-50%);
    position: absolute;
    top: 11px;
    left: 4px;
    min-width: 7px;
    padding: 0 4px;
    height: 15px;
    line-height: 15px;
    border-radius: 15px;
    background: #dd6c7a;
    color: #fff;
    font-size: 10px;
    text-align: center;
  }

  .iconUser {
    height: 25px;
    width: 25px;
    fill: white;
    color: white;
  }

  .userFIO {
    display: inline-block;
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
  }
  .filteredProductsBox {
    position: absolute;
    top: 100%; /* Встановлює відстань від верху input */
    z-index: 1000; /* Щоб результати були поверх інших елементів */
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-height: 300px; /* Максимальна висота списку */
    max-width: 600px;
  }

  .resultbox {
    position: relative;
  }
  .searchBoxBG {
    background-color: #fff;
  }
  .userFIOWrapper {
    position: relative;
    display: inline-block;
  }
  .userSeetings {
    width: 200px;
    display: none;
    position: absolute;
    top: 100%;
    left: 20%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ddd;
    /* border-radius: 8px; */
    padding: 10px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }

  .userFIOWrapper:hover .userSeetings {
    display: block;
  }

  .userBarLink {
    display: block;
    font-size: 16px;
    padding: 5px 20px 5px 38px;
    color: #000;
  }

  .userBarLink:hover {
    background-color: #dddddd;
  }

  .userBarItemLogOut {
    margin-top: 1px;
  }
  .userBarItemLogOut:before {
    content: "";
    display: block;
    height: 1px;
    background: rgba(0, 0, 0, 0.15);
    margin: 6px 0;
  }
}
.notificationsContainer {
  position: absolute;
  width: 200px;
  left: -55px;
  display: flex;
  flex-direction: column;
  z-index: 9000;
  pointer-events: none;
  opacity: 0.8;
}

.notificationsContainer .notificationInfo {
  background-color: #000;
  color: #fff;
}

.notificationsContainer .notification {
  display: flex;
  font-size: 14px;
  line-height: 1.2em;
  margin: 0 auto 8px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
  pointer-events: initial;
  cursor: pointer;
}

.notificationsContainer .notificationExpends {
  animation: expandIn 0.2s ease-in-out;
}

.notificationText {
  text-align: center;
}

/* Catalogy.module.css */
.catalogyMenu {
  background-color: #f8f8f8;
  padding: 10px 20px;
}

.mainCategories {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mainCategory {
  position: relative;
}

.mainLink {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  transition: color 0.3s;
}

.mainLink:hover {
  color: #e91e63;
}

.subMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  display: none;
  z-index: 1000;
  width: 400px;
}

.mainCategory:hover .subMenu {
  display: block;
}

.subMenuList {
  display: flex;
  gap: 30px;
}

.subMenuItem {
  flex: 1;
}

.subMenuTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

.innerList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.innerLink {
  text-decoration: none;
  font-size: 14px;
  color: #555;
  transition: color 0.3s;
}

.innerLink:hover {
  color: #000;
}
