.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 64px 100;
    margin-bottom: 20px;
  }
}
