.visuallyHidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.loginContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(50, 50, 54, 0.3);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login,
.loginHidden {
  background-color: #ffffff;
  width: 100%;
  max-width: 500px;
  z-index: 100;
  padding: 30px 25px;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-100%);
}

.close {
  width: 24px;
  height: 24px;
  fill: #5a5959;
  cursor: pointer;
}

.login {
  transform: translateX(0);
}

.loginHidden {
  transform: translateX(-100%);
}

.headerLogin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputForm {
  transition-duration: 300ms;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  height: 50px;
  padding: 13px;
  border: 1px solid #e8e8e8;
  background: #f9f9f9;
  margin-bottom: 15px;
}

.inputForm:hover {
  background-color: #fff;
}

.btnLogin {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  transition-duration: 300ms;
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  padding: 10px 25px;
  border: none;
  background-color: #4b4b4b;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.btnLogin:hover {
  transition-duration: 300ms;
  color: black;
  border: 1px solid #0f2d52;
  background-color: #fff;
}

.formForgot {
  margin-top: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.25;
  color: #0f2d52;
}

.formRegisterInfo {
  margin-top: 20px;
  text-align: center;
}

.registerNow {
  background-size: 100% 1px;
  text-decoration: none;
  transition-duration: 300ms;
  font-weight: 700;
  color: #0f2d52;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.01em;
}
