.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.listItem {
  /* width: 16%; */
  flex-basis: calc((100% - 20px) / 6);
  box-sizing: border-box;
}
.cardContainer {
  /* border: 1px solid #d7d7d7; */
  border-radius: 7px;
  overflow: hidden;
  background-color: #fff;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s; */
}
.cardContainer:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btnOpen {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px;
  margin: 0 auto;
  display: block;
}
