.brandBox {
  overflow-x: auto;
  white-space: nowrap;
}

.list {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.listItem {
  display: inline-block;
}

.cardContainer {
  width: 120px;
}

@media (min-width: 1440px) {
  .brandBox {
    margin-top: 70px;
    overflow: hidden;
    height: 250px;
    transition: height 0.5s ease;
  }
  .brandBox.collapsed {
    height: 250px;
  }

  .brandBox.expanded {
    height: 750px;
  }

  .list {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
  }

  .listItem {
    box-sizing: border-box;
    flex-basis: calc((100% - 20px) / 6);
  }
  .cardContainer {
    width: 200px;
    border-radius: 7px;
    overflow: hidden;
    background-color: #fff;
  }
  .cardContainer:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .btnOpen {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    margin: 0 auto;
    display: block;
  }
}
