.breadcrumbs {
  margin: 0 0 10px;
  font-size: 11px;
  color: #acacac;
  line-height: 1.6;
}

.breadcrumbsItem {
  display: inline-block;
}

.breadcrumbs a {
  color: #acacac;
  border: 0;
}

.icon {
  display: inline-block;

  vertical-align: middle;
}
.breadcrumbsIconChevron {
  margin: 0 5px;
  font-size: 8px;
  fill: currentColor;
}
