/* НОВІ СТИІЛ */
.catalogCard {
  position: relative;
  padding: 0 0 25px;
}
.catalogCard:hover {
  z-index: 50;
  border-color: rgba(0, 0, 0, 0);
}

.cardContainer {
  position: relative;
}

.catalogCardMain {
  position: relative;
}

.catalogCard:hover .catalogCardMain {
  border-radius: 4px 4px 0 0;
  border: 1px solid #c0c0c0;
  box-shadow: 0 7px 15px rgba(59, 55, 43, 0.25);
}

.catalogCardMainB {
  position: relative;
  z-index: 1;
}

/* Футер картки */

.catalogCardFooter {
  display: none;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  background: #fff;
  padding: 0 15px 16px;
  margin-top: -1px;
  border: 1px solid #c0c0c0;
  border-radius: 0 0 4px 4px;
  border-top: 0;
  box-shadow: 0 7px 15px rgba(59, 55, 43, 0.25);
}

.catalogCard:hover .catalogCardFooter {
  display: block;
}
