.container {
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.basketList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.basketList li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.basketList li img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 15px;
}

.quantityContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  /* border: 1px solid black; */
  border-radius: 5px;
  background-color: #f1f1f1;
  padding: 7px;
}

.quantityButton {
  background-color: transparent;
  color: black;
  border: none;
  /* color: white; */
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 5px;
}

/* .quantityButton:hover {
  background-color: #0056b3;
} */

.quantity {
  font-size: 16px;
  margin: 0 10px;
}

.totalAmount {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.totalAmount h3 {
  font-size: 20px;
  color: #333;
}

button {
  /* background-color: #28a745; */
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

/* button:hover {
  background-color: #218838;
} */
/* ---------------------------------------------- */

/* BasketRigth.module.css */
.container {
  padding: 20px;
}

.basketTable {
  width: 100%;
  border-collapse: collapse;
}

.basketTable th,
.basketTable td {
  /* border: 1px solid #ddd; */
  padding: 8px;
}
/* 
.basketTable th {
  background-color: #f2f2f2;
} */

.quantityContainer {
  display: flex;
  align-items: center;
}

.quantityButton {
  margin: 0 5px;
}

/* Add any additional styles for table or item card as needed */
.qqqq {
  border: 1px solid gainsboro;
}

.www {
  text-align: left;
  color: #898989;
  font-size: 14px;
}

.sumProduct {
  font-weight: 700;
  font-size: 14px;
}
