.formHead {
  display: flex;
  align-items: center;
  float: left;
  width: 130px;
  min-height: 36px;
  color: #000;
}

.formItem {
  position: relative;
  max-width: 360px;
  margin: 0 0 20px 150px;
}

.field {
  border: 1px solid #acacac;
  background: #fff;
  border-radius: 4px;
  line-height: normal;
  vertical-align: middle;
  transition: border-color 0.1s;
  padding: 6px 8px;
  font-size: 16px;
  height: 36px;
  width: 100%;
}
