@media (min-width: 1440px) {
  .cardBox {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    /* background-color: #fff; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    cursor: pointer;
    /* transition: transform 0.2s, box-shadow 0.2s; */
    padding-right: 50px;
  }

  .cardBox:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .imgBox {
    flex-shrink: 0;
    margin-right: 15px;
  }

  .imgBrand {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
  }

  .boxInfo {
    display: flex;
    flex-direction: column;
  }

  .brandInfo {
    margin: 5px 0;
    font-size: 16px;
    color: #38363a;
  }

  .brandInfo:first-of-type {
    font-weight: bold;
  }

  .brandInfo:last-of-type {
    color: #007bff;
  }

  /*  */

  .itemIamge {
    flex: 0 0 80px;
    text-align: center;
  }

  .imgItem {
    max-height: 80px;
    max-width: 80px;
    width: auto;
    height: auto;
    cursor: pointer;
  }

  .outOfStock {
    filter: grayscale(100%); /* Застосування сірого фільтру */
  }

  .itemContent {
    flex-grow: 1;
    padding-left: 10px;
  }

  .orderRemove {
    position: absolute;
    right: 20px;
    color: #b2b2b2;
    border: 0;
  }
  .orderRemove:hover {
    color: #545454;
  }

  .iconRemove {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    font-size: inherit;
    fill: currentColor;
  }

  .orderItemDescription {
    padding-right: 16px;
  }

  .orderItemTitle {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 1.45;
    overflow: hidden;
  }

  .productName {
    cursor: pointer;
  }

  .orderItemContainer {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .itemMissing {
    color: #acacac;
  }

  .orderItemControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0 90px;
    margin-left: 0;
  }

  .orderItemQuanity {
  }

  .counter {
    display: inline-flex;
    align-items: center;
    position: relative;
    vertical-align: middle;
  }

  .counterContainer {
    display: flex;
    border-radius: 4px;
    border: 1px solid #acacac;
    position: relative;
    background: #fff;
    width: 92px;
    height: 38px;
    box-sizing: border-box;
  }

  .counterBtn {
    flex: 1 0 auto;
    height: 100%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    color: #000;
    border: 0;
    padding: 0;
    background: none;
  }

  .iconMinus {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    position: absolute;
    font-size: 10px;
    left: 50%;
    top: 50%;
    margin-top: -5px;
    margin-left: -5px;
    fill: currentColor;
  }

  .counterBtn.disabled {
    opacity: 0.4;
    cursor: default;
    color: #000;
  }

  .counterInput {
    flex: 0 0 34px;
    line-height: 1;
  }

  .counterField {
    width: 100%;
    height: 100%;
    font-size: 14px;
    text-align: center;
    background: none;
    border-radius: 0;
    line-height: normal;
    border: 0;
  }

  /*  */

  /*  */

  .orderItemCost {
    flex-shrink: 0;
    margin-left: 10px;
    font-weight: bold;
  }

  .orderItemMissing {
    flex-shrink: 0;
    margin-left: auto;
    color: #acacac;
    font-weight: 400;
  }

  .outOfStockMessage {
    /* display: none; */
    position: absolute;
    bottom: 100%;
    margin-bottom: 7px;
    left: 0;
    height: 23px;
    line-height: 23px;
    padding: 0 8px;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    font-size: 13px;
    white-space: nowrap;
    left: 25px;
  }
}

/* MOBILE */

.cartItemImage {
  flex-shrink: 0;
  margin-right: 16px;
  width: 64px;
}

.image {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.imageBox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.imageProduct {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cartItemContent {
  flex: 1;
  min-width: 0;
  overflow-wrap: break-word;
  margin-top: -4px;
  margin-top: -0.2857142857rem;
}

.cartItemTitle {
  margin-bottom: 5px;
  margin-bottom: 0.3571428571rem;
  font-size: 0.9285714286rem;
}
.cartItemPriceBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.cartItemPriceContainer {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin-right: 8px;
}

.cartItemPrice {
  white-space: nowrap;
  font-size: 0.9285714286rem;
}

.cartItemCost {
  font-weight: 700;
  font-size: 0.9285714286rem;
}

.cartItemButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.counter {
  display: inline-block;
}

.counterContainer {
  display: flex;
  align-items: center;
}

.counterBox {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.btnMinus {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 48px;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #666;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  fill: #666;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 12px;
  border: 0;
  padding: 0;
  background: none;
  box-shadow: none;
  color: #000;
  fill: #000;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 40px;
  height: 100%;
  left: 0;
  width: 32px;
}

.btnMinus.disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
  pointer-events: auto;
}

.iconMinus {
  display: inline-block;
  font-size: 12px;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.counterInput {
  background: #fff;
  box-shadow: inset 0 0 0 1px #ccc;
  border-radius: 8px;
  height: 48px;
  padding: 0 40px;
  width: 4ch;
  text-align: center;
  box-sizing: content-box;
}

.btnPlus {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 48px;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #666;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  fill: #666;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 0;
  padding: 0;
  background: none;
  box-shadow: none;
  color: #000;
  fill: #000;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 40px;
  height: 100%;
  right: 0;
  width: 32px;
}

.btnPlus.disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
  pointer-events: auto;
}

.iconPlus {
  display: inline-block;
  font-size: 12px;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.btnRemove {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 48px;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #666;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  fill: #666;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 12px;
  height: 40px;
  font-size: 16px;
  display: flex;
  min-width: 40px;
}

.btnIconRemove {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  height: 100%;
  overflow: hidden;
}

.iconRemove {
  display: inline-block;
  font-size: 16px;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.notificationsContainer {
  position: fixed;
  top: calc(48px + 16px);
  left: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  z-index: 9000;
  pointer-events: none;
}

.notificationsContainer .notificationInfo {
  background-color: #000;
  color: #fff;
}

.notificationsContainer .notification {
  display: flex;
  font-size: 14px;
  line-height: 1.2em;
  margin: 0 auto 8px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
  pointer-events: initial;
  cursor: pointer;
}

.notificationsContainer .notificationExpends {
  animation: expandIn 0.2s ease-in-out;
}

.notificationText {
  text-align: center;
}
