.cardBox {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  /* background-color: #fff; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  cursor: pointer;
  /* transition: transform 0.2s, box-shadow 0.2s; */
  padding-right: 50px;
}

.cardBox:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.imgBox {
  flex-shrink: 0;
  margin-right: 15px;
}

.imgBrand {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.boxInfo {
  display: flex;
  flex-direction: column;
}

.brandInfo {
  margin: 5px 0;
  font-size: 16px;
  color: #38363a;
}

.brandInfo:first-of-type {
  font-weight: bold;
}

.brandInfo:last-of-type {
  color: #007bff;
}
