.productGroupMenu {
  display: flex;
  margin: 0 0 10px;
  font-size: 11px;
  color: #acacac;
  line-height: 1.6;
}

.productGroupMenuItem {
  display: flex;
  align-items: center;
}
.productGroupMenuItem a {
  color: #acacac;
  border: 0;
}
.productGroupMenuItem a:hover {
  color: #000;
}

.icon {
  display: inline-block;
  font-size: 32px;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

.iconChevron {
  margin: 0 5px;
  font-size: 8px;
  fill: currentColor;
}

.catalogTopRows {
  display: flex;
  align-items: flex-end;
  margin: 0px -10px;
}

.catalogTopTitle {
  flex: 1 1 auto;
  margin: 0 10px;
}

.titleText {
  font-size: 32px;
  margin: 0 0 18px;
  line-height: 1.1;
  font-weight: normal;
  color: #000;
}

.catalogTopRight {
  flex: 0 1 auto;
  align-items: flex-end;
  margin: 0 10px;
}

.catalogControls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.catalogControlsItem {
  margin-right: 20px;
}
.catalogControlsItem:last-of-type {
  margin-right: 0;
}

.catalogSorting {
  display: flex;
  align-items: center;
}

.catalogSortingTitle {
  margin-right: 8px;
  color: #000;
}

.catalogSortingList {
  display: flex;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #e5e5e5;
}
.catalogSortingItem {
  font-size: 13px;
  color: #000;
  border: none;
  padding: 6px 10px 7px;
  border-right: 1px solid #e5e5e5;
  cursor: pointer;
}
.catalogSortingItem:hover {
  color: #545454;
}

.catalogSortingItemActive {
  position: relative;
  cursor: default;
  color: #424242;
  background: #f6f6f6;
}

/* Контент */
.catalogContentMain {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.catalogContentMainRight {
  margin-left: auto;
}

.CatalogListProduct {
  flex: 0 1 100%;
  order: 2;
  max-width: 100%;
  flex-basis: calc(100% - 250px);
  max-width: calc(100% - 250px);
}

.catalogContent {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  gap: 10px;
}

.paginationContainer {
}

.pageList {
  margin-top: 35px;
  text-align: center;
}

.pageContainer {
  display: inline-flex;
}

.pageItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  margin-left: -1px;
  vertical-align: top;
  border: none;
  border: 1px solid #e5e5e5 !important;
  background: #fff;
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  color: #000;
  cursor: pointer;
}

.activePage {
  background: #f6f6f6;
  color: #424242;
  z-index: 1;
  font-weight: bold;
  cursor: default;
}

.catalogContentMainLeft {
  order: 1;
  flex: 0 0 220px;
  max-width: 220px;
  will-change: min-height;
}

.catalogSideBar {
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
}

.catalogGroup {
  position: relative;
  margin-top: 20px;
}

.catalogGroup:first-of-type {
  margin-top: 0;
}

.filterSection {
  margin-bottom: 18px;
}

.filterSectionTitle {
  font-size: 16px;
  font-weight: bold;
  word-break: break-word;
}

.filterList {
  padding-top: 9px;
  overflow: hidden auto;
  height: 500px;
}

.filterBrandList {
  margin-top: 7px;
}

.filterBrandList:first-child {
  margin-top: 0;
}

.filterBrandItem {
  margin-bottom: 9px;
}

.filterCheck {
  position: relative;
  color: #000;
  border: 0;
}

.label {
  display: inline-block;
  padding-left: 20px;
  font-size: 13px;
  cursor: pointer;
  padding-left: 25px;
  font-size: 14px;
}

.label:hover {
  color: #545454;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -2px;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  border: 1px solid #ababab;
  border-radius: 2px;
  background-color: #fff;
  vertical-align: middle;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  cursor: default;
  top: 0;
  margin-right: 7px;
  margin-left: -25px;
}

.iconChek {
  fill: #fff;
}

.activeCheck {
  background-color: #000;
}

.filterBrandTitle {
  word-break: break-word;
}

.filterCount {
  top: -3px;
  margin-left: 4px;
  font-size: 12px;
  color: #898989;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.disabledBrandItem {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}

.filterCurrent {
  margin-bottom: 5px;
  font-size: 13px;
}

.filterCurrentGroup {
  margin-bottom: 7px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.filterCurrentTitle {
  position: relative;
  display: inline-block;
  vertical-align: top;
  line-height: 1;
  margin: 0 0 1px 0;
  padding: 4px 6px 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  color: #000;
  transition: all 0.15s;
  word-break: break-word;
}

.filterCurrentBrand {
  position: relative;
  display: inline-block;
  margin: 0 0 1px 1px;
  vertical-align: top;
  line-height: 1;
  border: 0;
  padding: 5px 20px 4px 6px;
  background-color: #ddbfbf;
  border-radius: 3px;
  color: #fff;
  transition: all 0.15s;
  word-break: break-word;
}

.filterClear {
  position: relative;
  display: inline-block;
  vertical-align: top;
  line-height: 1;
  margin: 0 0 1px 0;
  padding: 4px 6px 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  transition: all 0.15s;
  cursor: pointer;
}

.filterPrice {
  margin-top: 9px;
}

.filterPriceInputs {
  display: flex;
  margin-bottom: 10px;
}

.field {
  border: 1px solid #acacac;
  background: #fff;
  border-radius: 4px;
  line-height: normal;
  vertical-align: middle;
  transition: border-color 0.1s;
  padding: 6px 8px;
  font-size: 16px;
  height: 36px;
}

.filterPriceField {
  height: 26px;
  padding: 0 6px;
  min-width: 4.1em;
  border-radius: 2px;
  font-size: 14px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
  -webkit-appearance: none;
}

.filterPriceSep {
  flex-shrink: 0;
  width: 12px;
  height: 1px;
  margin: 11px 2px 0;
  background-color: #acacac;
}

.filterPriceBtn {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  outline: 0;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 4px;
  color: #666;
  border: 1px solid #d8d8d8;
  background: #fff;
  box-shadow: none;
  transition: all 0.15s;
  font-weight: normal;
  flex: 0 0 auto;
  height: 26px;
  line-height: 26px;
  margin-left: 10px;
  font-size: 12px;
}

.btnContent {
  padding: 0 13px;
}

.priceSlider {
  height: 4px;
  position: relative;
  border-radius: 2px;
  background-clip: padding-box;
  background-color: rgba(221, 191, 191, 0.2);
}
