.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}

.iconFavorite {
  position: absolute;
  right: 6%;
  top: 6%;
  fill: red;
  cursor: pointer;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.listItem {
  position: relative;
  width: 200px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 500px;
  padding: 10px;
  border: 1px solid #d7d7d7;
  border-radius: 7px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
/* .cardContainer:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */
@media screen and (min-width: 1440px) {
  .container {
    margin-top: 50px;
    padding: 50px;
  }

  .list {
    gap: 20px;
  }
  .listItem {
    width: 16%;
    flex-basis: calc((100% - 20px) / 6);
    box-sizing: border-box;
  }

  /* .cardContainer:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  } */
}

.imgBrand {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
}

.brandTitle {
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}
.brandPrice {
  text-align: center;
  font-weight: 700;
}

.priceBox {
  display: flex;
  gap: 10px;
}

.quantityContainer {
  width: 100px;
}

.quantityInputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid gray;
  background-color: #f9f9f9;
}

.quantityButton {
  background-color: transparent;
}

.quantityInput {
  text-align: center;
  border: none;
  background-color: transparent;
  width: 30px;
}

.buyButton {
  width: 100px;
  background-color: blue;
  color: white;
}
