.catalogControlsItemMob {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 8px;
  min-width: 0;
}

.catalogControlsItemFilter {
  flex-grow: 1;
  flex-shrink: 0;
}

.btnFilter {
  position: relative;
  display: inline-flex;
  height: 48px;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 0;
  padding: 0;
  background: none;
  box-shadow: none;
  color: #000;
  fill: #000;
}

.btnIcon {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  height: 100%;
  overflow: hidden;
}
.iconFilter {
  display: inline-block;
  font-size: 16px;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.btnText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 8px;
}

.filterCount {
  top: -3px;
  margin-left: 4px;
  font-size: 12px;
  color: #898989;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  margin-left: 8px;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  min-width: 16px;
  padding: 0 5px;
  border-radius: 16px;
  background: #72a805;
  color: #fff;
  font-size: 11px;
  line-height: 16px;
}
