.wishlist {
  display: block;
}

.wishlistHeader {
  display: block;
}

.wishlistHeader .wishlistTitle {
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
}

.wishlistTitle {
  font-size: 32px;
  margin: 0 0 18px;
  line-height: 1.1;
  font-weight: normal;
  color: #000;
}

.btnClearList {
  color: #000;
  border: 0;
  cursor: pointer;
}

.catalogGrid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
