.container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px; */
}

/* Desctop css */

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.listItem {
  vertical-align: top;
  width: 25%;
}

@media screen and (min-width: 1280px) {
  .listItem {
    width: 33.3333333333%;
  }
}
@media screen and (min-width: 1440px) {
  .listItem {
    width: 25%;
  }
}

.list .listItem {
  width: 33.3333333333%;
}

@media screen and (min-width: 1280px) {
  .list .listItem {
    width: 33.3333333333%;
  }
}
@media screen and (min-width: 1440px) {
  .list .listItem {
    width: 33.3333333333%;
  }
}

/* Mobile css */

.goods {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr;
  margin: 0 -16px;
  row-gap: 32px;
}

@media (max-width: 37.49em) {
  .goodsGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 37.5em) and (max-width: 56.24em) {
  .goodsGrid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 56.25em) and (max-width: 74.99em) {
  .goodsGrid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 75em) {
  .goodsGrid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

.goodsItem {
  padding: 0 16px;
}
