.headerBox {
  background-color: #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 16px;
  /* margin: 0 auto; */
}

/* .qqqq {
  display: flex;
  flex-direction: column;
} */
.topHeader {
  background-color: #363636;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.freeDelivery {
  color: #fff;
}

@media screen and (min-width: 350px) and (max-width: 1440px) {
}
.container {
  /* padding: 20px 16px; */
  margin: 0 auto;
}

.leftHeaderMenu {
  display: flex;
  /* align-items: center; */
  gap: 16px;
  margin-right: 30px;
}

.searchBox {
  display: none;
}

.iconBox {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    /* padding: 37px 100px; */
  }

  .header {
    display: flex;
    /* align-items: center; */
    gap: 40px;
    /* max-width: 1440px; */
    /* padding: 15px 100px; */
  }

  .qqqqq {
    display: flex;
    flex-direction: column;
    padding: 15px 100px;
  }
  .searchBox {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    border-radius: 62px;
    background: rgb(240, 240, 240);
    position: relative;
    width: 400px;
  }
  .iconMenu {
    display: none;
  }

  .icon {
    width: 20px;
    height: 20px;
    fill: #000;
  }

  .iconSearch {
    fill: #00000066;
  }

  .iconSearchMob {
    display: none;
  }

  .inputSearch {
    border: none;
    background-color: transparent;
    width: 400px;
    line-height: 1;
  }

  .iconBox {
    gap: 20px;
  }
}
/*  */
.searchResults {
  position: absolute;
  top: 100%; /* Відстань від верху input */
  left: 0;
  right: 0;
  z-index: 1000; /* Щоб результати були поверх інших елементів */
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-height: 300px; /* Максимальна висота списку */
  overflow-y: auto; /* Прокрутка, якщо результатів багато */
}

.searchResults ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.searchResults li {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
}

.searchResults li:hover {
  background-color: #f0f0f0;
}

.searchResults .imgBox {
  margin-right: 12px;
}

.searchResults img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.filteredProductsBox {
  position: absolute;
  top: 11%; /* Встановлює відстань від верху input */
  right: 20%;
  z-index: 1000; /* Щоб результати були поверх інших елементів */
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-height: 300px; /* Максимальна висота списку */
  max-width: 600px;
}

/* .wwwww {
  padding: 15px 100px;
} */
