.header {
  position: relative;
  z-index: 102;
  margin-bottom: 30px;
}

.header.home {
  margin-bottom: 0;
}

.headerContainer {
  background-color: #f3f3f3;
}

.headerTop {
  color: #000;
}

.headerWrapper {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 1280px) {
  .headerWrapper {
    padding: 0 30px;
  }
}

.headerLayout {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLayoutMiddle {
  height: 80px;
}

.headerColumn {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  max-width: 100%;
}

.headerColumn:not(:first-child) {
  padding-left: 12px;
}
.headerColumn:only-child {
  padding: 0;
}

.headerColumn:not(:last-child) {
  padding-right: 12px;
}

@media (min-width: 1280px) {
  .headerColumn:not(:last-child) {
    padding-right: 16px;
  }
}

@media (min-width: 1440px) {
  .headerColumn:not(:last-child) {
    padding-right: 20px;
  }
}

.headerColumnRight {
  justify-content: flex-end;
}

.headerSection {
  flex: 0 1 auto;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  text-align: left;
}

.headerSection:not(:last-child) {
  margin-right: 12px;
}

.headerSection:not(:first-child) {
  margin-left: 12px;
}

.headerColumnMiddle {
  flex-direction: column;
  align-items: stretch;
  flex: 9999 9999 auto;
}

.headerRow {
  display: flex;
  margin-bottom: 10px;
}

.headerRow:last-child {
  margin-bottom: 0;
}

.headerColumnMiddle .headerSection:only-child {
  flex: 1 1 100%;
  max-width: 100%;
}

.headerBottom {
  position: relative;
  top: 20px;
  margin: -20px 0 20px;
  background: #363636;
  color: #fff;
}

.headerLayoutBottom {
  min-height: 40px;
}

.headerLayout {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
