.noScroll {
  height: 100%;
  overflow: hidden;
}

@media (max-width: 1439.9px) {
  .desctop {
    display: none;
  }
}

.productContent {
  display: flex;
  align-items: flex-start;
}

.productLeft {
  position: sticky;
  top: 20px;
  z-index: 2;
  width: 50%;
  padding-right: 20px;
  box-sizing: border-box;
}

.productRight {
  position: sticky;
  top: 20px;
  z-index: 2;
  width: 50%;
  padding-left: 20px;
}

.productGroup {
  margin-bottom: 40px;
}
