.modalOverley {
  position: fixed;
  display: none;
  overflow: auto;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.popup {
  position: relative;
  margin: 0 auto;
  padding: 30px;
  width: 790px;
}

.popupBlock {
  position: relative;
  padding: 30px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.75);
}

.popupClose {
  position: absolute;
  z-index: 100;
  top: 9px;
  right: 9px;
  cursor: pointer;
  border: 0;
  color: rgba(0, 0, 0, 0.8);
  transition: color 0.1s;
}

.iconClose {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
  fill: currentColor;
}

.popupTitle {
  font-size: 32px;
  font-weight: normal;
  margin: -6px 0 12px -2px;
}

.cartBasket {
  margin-top: -10px;
}

.cartContent {
  position: relative;
}

.loaderContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
}

.loaderSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cartItems {
  width: 100%;
  border-collapse: separate;
}

.cartHeader {
  padding-bottom: 8px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 11px;
}

.cartItems tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}

.cartItems tr:first-child td:last-child {
  border-top-right-radius: 4px;
}

.cartItems tbody td:first-child {
  border-left: 1px solid #e5e5e5;
}
.cartItems tbody td:last-child {
  border-right: 1px solid #e5e5e5;
}

.cartItems tbody td {
  border-top: 1px solid #e5e5e5;
}

.cartHeader.cartHeaderCost {
  padding-right: 18px;
  text-align: right;
}
.cartHeaderB {
  display: block;
}

.cartSection {
  background-color: #fff;
}

.cartSection:after {
  content: "";
  height: 5px;
  display: block;
  background: #fff;
}

.cartSell {
  position: relative;
  padding: 15px 0;
  vertical-align: middle;
}

.cartSection tr:last-child .cartSell {
  border-bottom: 1px solid #e5e5e5;
}

.cartSell.image {
  width: 105px;
  vertical-align: middle;
  font-size: 0;
}

.cartRemove {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}

.cartRemoveBtn {
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -30px;
  width: 30px;
  border: 0;
  color: #b2b2b2;
  font-size: 13px;
  transition: all 0.1s;
}
.cartRemoveBtn:before {
  content: "";
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  position: absolute;
  font: 0 / 0 sans-serif;
  overflow: hidden;
}

.iconTrash {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 10px;
  font-size: inherit;
  fill: currentColor;
}

.cartItems tr:hover .cartRemoveBtn {
  opacity: 1;
}

.cartImage {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 80px;
}

.cartImage a {
  border: 0;
}

.cartImage img {
  max-height: 80px;
  max-width: 80px;
  /* width: auto;
  height: auto; */
}

.cartSell.details {
  vertical-align: middle;
}

.cartTitle {
  padding-right: 50px;
  word-break: break-word;
  line-height: 1.25;
}

.cartTitle a:hover {
  color: #545454;
}

.cartPrice {
  display: inline-block;
  vertical-align: middle;
  margin-top: 6px;
}

.cartSell.quantity {
  width: 95px;
  vertical-align: middle;
}

.cartQuantity {
  display: block;
}

.counter {
  display: inline-flex;
  align-items: center;
  position: relative;
  vertical-align: middle;
}

.counterContainer {
  display: flex;
  border-radius: 4px;
  border: 1px solid #d7d7d7;
  position: relative;
  background: #fff;
  width: 70px;
  height: 26px;
  box-sizing: border-box;
}

.counterLarge .counterContainer {
  width: 92px;
  height: 38px;
}

.counterBtn {
  flex: 1 0 auto;
  height: 100%;
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  color: #000;
  border: 0;
  padding: 0;
  background: none;
}

.iconMinus {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  position: absolute;
  font-size: 10px;
  left: 50%;
  top: 50%;
  margin-top: -5px;
  margin-left: -5px;
  fill: currentColor;
}

.counterInput {
  flex: 0 0 34px;
  line-height: 1;
}

.counterField {
  width: 100%;
  height: 100%;
  font-size: 14px;
  text-align: center;
  color: #000;
  background: none;
  border-radius: 0;
}

.counterBtn.disabled {
  opacity: 0.4;
  cursor: default;
  color: #000;
}

.iconPlus {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  font-size: 10px;
  left: 50%;
  top: 50%;
  margin-top: -5px;
  margin-left: -5px;
  fill: currentColor;
}

.counterMessage {
  position: absolute;
  bottom: 100%;
  margin-bottom: 7px;
  left: 0;
  height: 23px;
  line-height: 23px;
  padding: 0 8px;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  font-size: 13px;
  white-space: nowrap;
}
.cartQuantity .counterMessage {
  left: 25px;
}

.cartSell.cost {
  width: 130px;
  vertical-align: middle;
}

.cartCost {
  padding-right: 18px;
  white-space: nowrap;
  font-weight: bold;
  font-size: 14px;
  text-align: right;
}

.cartFoot {
  background: #fff;
}

.cartFooter {
  border: 1px solid #e5e5e5;
  padding: 14px 0 20px;
  text-align: right;
}

.cartTotalAmount {
  display: block;
}

.cartText {
  display: inline-block;
  font-size: 12px;
  margin-right: 11px;
}

.cartTotalAmount .cartCost {
  font-size: 18px;
}

.cartTextB {
  display: inline-block;
}

.cartBtn {
  margin-top: 15px;
  padding: 0 17px;
}

.cartBtn::after {
  content: " ";
  display: table;
  clear: both;
}

.cartBtnBack {
  float: left;
  margin-top: 6px;
  font-size: 18px;
}

.btn {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  line-height: 1;
  padding: 0;
  outline: 0;
  border: none;
  background: rgba(0, 0, 0, 0);
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 4px;
  color: #666;
  border: 1px solid #d8d8d8;
  background: #fff;
  box-shadow: none;
  height: 38px;
  line-height: 38px;
  font-size: 18px;
  transition: all 0.15s;
}

.btn.clear {
  border: 0;
  background: none;
  box-shadow: none;
  color: #000;
  text-shadow: none;
  border-radius: 0;
}

.btnContent {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding: 0 16px;
}

.btn .btnContent {
  margin: -1px;
}

.btn.clear .btnContent {
  padding: 0;
}

.arrowLeft {
  display: inline-block;

  vertical-align: middle;
  font-size: 14px;
  margin-right: 8px;
  fill: currentColor;
}

.cartBtnOrder {
  float: right;
}

.orderBtn {
  color: #fff;
  border: 0;
  background: #e79eb0;
  box-shadow: none;
}
