.footer {
  background-color: #363636;
  width: 100%;
  border-top: 4px solid #d4d7db;
}

.footerContainer {
  padding: 20px 8px 28px;
}

@media (min-width: 1440px) {
  .footerContainer {
    padding: 30px 20px 20px;
    max-width: 1440px;
  }
}

.footerList {
  display: flex;
  justify-content: space-between;
}

.footerMenu {
  display: none;
}
@media (min-width: 1440px) {
  .footerMenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.footerMenuItem {
  margin-bottom: 10px;
}

.footerTitles {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #fff;
}

.catologyItem {
  margin-bottom: 10px;
}

.catologyBox {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.catologyBox:hover {
  background-color: #c4d1e0;
}

.itemText {
  padding: 8px 8px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
}

.itemText:hover {
  background-color: #4d4d4d;
}

.mobFooterMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  color: #fff;
}

@media (min-width: 1440px) {
  .mobFooterMenu {
    display: none;
  }
}

.phonesBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.telNumber {
  color: #fff;
}

.contacts {
}

.copyrightBlock {
}

.copyrightText {
  text-align: center;
}
