/* CustomNavigation.css */
.swiperButtonPrev,
.swiperButtonNext {
  position: absolute;
  top: 45%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.swiperButtonPrev {
  left: 10px;
}

.swiperButtonNext {
  right: 10px;
}

.chevrone {
  fill: #3f4f68;
  font-size: 40px;
}

@media (max-width: 1440px) {
  .chevrone {
    display: none;
  }
}

.swiper {
  overflow: visible;
  padding-left: 30px;
  padding-right: 15px;
}
.swiperContainer {
  margin-top: 50px;
  height: 470px;
  overflow: hidden;
}

.swiper {
  overflow: visible;
  padding-left: 30px;
  padding-right: 15px;
}

.swiperSlide {
  width: 240px;
}

/* Стилі для екранів шириною до 768px (планшети та мобільні пристрої) */
@media (max-width: 768px) {
  .swiperContainer {
    margin-top: 30px;
    height: auto;
  }

  .swiper {
    padding-left: 20px;
    padding-right: 10px;
  }

  .swiperButtonPrev,
  .swiperButtonNext {
    width: 35px;
    height: 35px;
    top: 40%;
  }

  .swiper-slide {
    width: 80%;
    margin: 0 auto;
  }
  .swiperSlide {
    width: 180px;
  }
}

/* Стилі для екранів шириною до 480px (мобільні пристрої) */
@media (max-width: 480px) {
  .swiperContainer {
    margin-top: 20px;
    height: auto;
  }

  .swiper {
    padding-left: 10px;
    padding-right: 5px;
  }

  .swiperButtonPrev,
  .swiperButtonNext {
    width: 30px;
    height: 30px;
    top: 35%;
  }

  .swiper-slide {
    width: 100%;
    margin: 0 auto;
  }
  .swiperSlide {
    width: 180px;
  }
}
