.container {
  width: 100%;
}

.list {
  display: flex;
  flex-direction: row;
}

@media (min-width: 1440px) {
  .list {
    flex-direction: column;
  }

  .textMobile {
    display: none;
  }
}

.text {
  font-size: 18px;
  font-weight: bold;
}

.listItem {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

@media (min-width: 1440px) {
  .textMobile {
    display: none;
  }
}

@media (max-width: 1439px) {
  .textDesctop {
    display: none;
  }
}

.listItem:hover {
  background-color: #e0e0e0;
}

.menuBox {
  font-size: 17px;
}
