.layoutAsideI {
  display: block;
}

.sideMenu {
  margin-bottom: 20px;
}

.sideMenuList {
  display: block;
}

.sideMenu:last-child {
  margin-bottom: 0;
}

.sideMenuItem {
  margin-top: 12px;
}

.sideMenuItem:first-child {
  margin-top: 0;
}

.sideMenuItemBox {
  display: inline-block;
  font-weight: normal;
  font-size: 17px;
}

.sideMenuItemBox.active {
  padding: 2px 6px;
  margin: -2px -6px;
  border-radius: 4px;
  background-color: #f6f6f6;
}
